{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %} 
{{ block.super}}


<div class="container">
    <!-- welcome to -->
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-sm-1">
    <h6 style="vertical-align: middle">{{user_object.username}}</h6>
    </div>
    <div class="col-sm-2">
  <a href="{%  url 'edit' %}">
                    <button class="editbtn">
                        <span class="edittext">Edit Profile</span>
                    </button>
                </a>
            </div>
            </div>
<div class="row">
   
    <div class="col-md-4">     
  <div style="margin-bottom: 11px;">
    <img src="{{user_object.profile.profile_picture.url}}" stye="padding-left:100px"class="img-circle"  width="352" height="352"
                class="rounded-circle border userimage">
    <span class="info"><strong>{{ user_object.profile.images.count }}</strong> posts</span>
    <span class="info"><strong>{{ user_object.profile.followers.count }}</strong> followers</span>
    <span class="info"><strong>{{ user_object.profile.following.count }}</strong> following</span>
    <div>
            <strong>{{ user_object.profile.Name }}</strong>
        </div>
        <div><span>{{ user_object.profile.bio }}</span></div>
    </div>
</div>
</div> 
</div>
<hr>



        {% for user_object in pic_images %}
  
    <img src="{{user_object.image.url}}" style="height:300px;">
</a>

{% endfor %}
</div>

{% endblock %}